<div class="jumbotron-fluid pt-5 bg-dark wow slideInUp">
    <div class="row">
        <div class="col-md-2 offset-2">
            <img src="https://image.shutterstock.com/image-vector/travel-logo-260nw-493559290.jpg" alt="travel-logo" width="100px">
        </div>
           <div class="col-md-2">
            <p class="text-light display-4">Address</p>
            <p class="text-light">1234 Streetname</p>
            <p class="text-light">City, 0000Anything</p>
        </div>
           <div class="col-md-2">
            <p class="text-light display-4">Contacts</p>
            <p class="text-light">Email: travelagency@gmail.com</p>
            <p class="text-light">Phone: 123 456 7890</p>
            <p class="text-light">Fax: +043 987 654 321</p>
        </div>
           <div class="col-md-2">
            <p class="text-light display-4">Links</p>
            <p><a class="text-light" href="/">Home</a></p>
            <p><a class="text-light" href="/travel">Travel</a></p> 
            <p><a class="text-light" href="/about">About Us</a></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 text-center">
           <p class="text-light">&copy;Copyright Dennis Pavitschitz</p> 
        </div>
        <div class="col-md-6">
           <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-pinterest"></a>
        </div>
    </div>
</div>
