
<div class="jumbotron-fluid py-5 mb-5" id="hero" >
<div  class="container py-5" >
  <h1 class=" text-light py-5 mx-auto" id="hero-h">{{heroHeading}}</h1> 
 <p class="text-light my-5" id="hero-p">{{heroText}}</p>
 <br>
 <p class="text-light my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quasi debitis nesciunt ipsum cum facilis eveniet, quaerat, magni odit voluptatibus eum corrupti quae sequi illum doloremque accusamus sint ducimus aperiam, fugit vel explicabo reprehenderit? Atque maiores, repellat facilis laudantium quod sit dicta nobis magnam officia eligendi praesentium expedita quaerat voluptates. Quasi dolorum odit voluptate voluptatem provident fuga dolor ratione, totam ducimus! Nulla beatae ipsa in eveniet, vitae delectus eos rem aspernatur doloribus minus quibusdam harum, odit dolor, magnam cupiditate. Voluptas tenetur, inventore provident deserunt maiores ipsam perferendis rerum nesciunt eaque ad facilis, quaerat odio amet, quia aperiam libero veritatis illo.</p>
</div>
</div>