<div class="container-fluid">


    <router-outlet></router-outlet>
  
    <a class="jumbo-link" routerLink="/travels">
        <div class="jumbotron bg-dark-50 border jumbo-left wow slideInLeft">

            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-4">Where, what, how long?</h1>
                    <br>
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ea vel dolor adipisci illo laudantium voluptates culpa vitae, quam. Eligendi dolore at quasi non modi voluptate laborum libero reprehenderit nesciunt accusantium suscipit nisi delectus, quod ex amet, ad rerum hic dolor, neque ipsam. Quaerat aliquid quas, ullam odit nam sequi accusantium voluptatum excepturi sunt, impedit architecto atque eos ducimus modi. Tempore iusto modi, adipisci cum sapiente quo impedit doloribus facilis nulla distinctio nesciunt voluptates odio et esse eaque atque, excepturi hic voluptate vel sit porro sequi laborum aperiam quis ullam. Deserunt fuga labore recusandae quae officia quod quasi soluta molestias.</p>
                </div>
                <div class="col-md-5">
                    <img src="../../assets/travelArrow.jpg" alt="GuideArrows" id="arrow" class="img-fluid">
                </div>
            </div>
        </div>
    </a>
    
    <a class="jumbo-link" routerLink="/travels">
        <div class="jumbotron bg-light border jumbo-right  wow slideInRight">

            <div class="row">
                <div class="col-md-5">
                    <img src="../../assets/roadtrip.jpg" alt="roadtrip" id="roadtrip" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h1 class="display-4">Roadtrip in to the Wild?</h1>
                    <br>
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ea vel dolor adipisci illo laudantium voluptates culpa vitae, quam. Eligendi dolore at quasi non modi voluptate laborum libero reprehenderit nesciunt accusantium suscipit nisi delectus, quod ex amet, ad rerum hic dolor, neque ipsam. Quaerat aliquid quas, ullam odit nam sequi accusantium voluptatum excepturi sunt, impedit architecto atque eos ducimus modi. Tempore iusto modi, adipisci cum sapiente quo impedit doloribus facilis nulla distinctio nesciunt voluptates odio et esse eaque atque, excepturi hic voluptate vel sit porro sequi laborum aperiam quis ullam. Deserunt fuga labore recusandae quae officia quod quasi soluta molestias.</p>
                </div>
            </div>
        </div>
    </a>
    <a class="jumbo-link" routerLink="/travels">
        <div class="jumbotron bg-dark-50 border jumbo-left  wow slideInLeft">

            <div class="row">
                <div class="col-md-6">
                    <h1 class="display-4">Picture tour?</h1>
                    <br>
                    <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ea vel dolor adipisci illo laudantium voluptates culpa vitae, quam. Eligendi dolore at quasi non modi voluptate laborum libero reprehenderit nesciunt accusantium suscipit nisi delectus, quod ex amet, ad rerum hic dolor, neque ipsam. Quaerat aliquid quas, ullam odit nam sequi accusantium voluptatum excepturi sunt, impedit architecto atque eos ducimus modi. Tempore iusto modi, adipisci cum sapiente quo impedit doloribus facilis nulla distinctio nesciunt voluptates odio et esse eaque atque, excepturi hic voluptate vel sit porro sequi laborum aperiam quis ullam. Deserunt fuga labore recusandae quae officia quod quasi soluta molestias.</p>
                </div>
                <div class="col-md-5">
                    <img src="../../assets/old-camera.jpg" alt="camera" id="camera" class="img-fluid">
                </div>
            </div>
        </div>
    </a>
    <div class="row">
    <a class="jumbo-link" routerLink="/travels">
        <div class="jumbotron bg-light border jumbo-right wow slideInRight">

            <div class="row jumbo-link">
                <div class="col-md-5 jumbo-link">
                    <img src="../../assets/waterfall.jpg" alt="waterfall" id="waterfall" class="img-fluid">
                </div>
                <div class="col-md-6 jumbo-link">
                    <h1 class="display-4">Nature and more...</h1>
                    <br>
                    <p class="text-dark jumbo-link">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam ea vel dolor adipisci illo laudantium voluptates culpa vitae, quam. Eligendi dolore at quasi non modi voluptate laborum libero reprehenderit nesciunt accusantium suscipit nisi delectus, quod ex amet, ad rerum hic dolor, neque ipsam. Quaerat aliquid quas, ullam odit nam sequi accusantium voluptatum excepturi sunt, impedit architecto atque eos ducimus modi. Tempore iusto modi, adipisci cum sapiente quo impedit doloribus facilis nulla distinctio nesciunt voluptates odio et esse eaque atque, excepturi hic voluptate vel sit porro sequi laborum aperiam quis ullam. Deserunt fuga labore recusandae quae officia quod quasi soluta molestias.</p>
                </div>
            </div>
        </div>
    </a>
    </div>
</div>